<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>variants</key>
	<dict>
		<key>Apps/Abc-0310F185-8963-468E-93E9-E862F16A60B0.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2196597</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2196597</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>2670263</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>2670263</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone11,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/Abc-1B171E38-26A9-4F3C-8A8C-2458AF117EA2.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2196616</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2196616</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>2670535</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>2670535</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone9,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,4</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,6</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,7</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone15,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,3</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,3</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone15,3</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,5</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,6</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,5</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,8</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,6</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,5</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,5</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,3</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,5</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,5</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,3</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,4</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,4</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,6</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/Abc-833E2BC5-E9CB-48B3-99B3-E3EA0F34F20A.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2196586</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2196586</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>2670021</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>2670021</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone9,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,8</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPod9,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,6</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,4</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,6</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,8</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/Abc-86D02EF6-668E-4135-9D37-B92E6DAE89B9.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2196680</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2196680</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>2671210</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>2671210</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPad7,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,9</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,12</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,7</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,9</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,12</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,11</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,7</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,12</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>MacFamily20,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,11</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,11</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,7</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,11</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,10</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,10</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,7</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/Abc-9FE687C9-071F-4979-85D9-2D7642FEBE7E.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2196596</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2196596</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>2670046</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>2670046</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone11,8</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,8</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/Abc-DF3A10C1-9BFB-4D93-804B-1DA40AF73CFB.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2196572</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2196572</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>2669987</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>2669987</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone9,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPod9,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/Abc-F91B316C-FAB8-4E84-BA07-7054C8AF4004.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2196600</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2196600</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>2670046</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>2670046</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone12,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/Abc-FE03CF4E-C5B7-47E0-ABC2-F678FE7B6C1D.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2196729</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2196729</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>2671742</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>2671742</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPad13,11</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,11</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,3</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,7</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,5</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>MacFamily20,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,18</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,10</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,7</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>MacFamily20,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,8</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,6</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,11</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,7</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad12,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,9</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,12</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,17</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,6</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,7</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,3-A</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,9</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,10</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad12,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,5-A</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,7</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,5</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,4</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,8</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,12</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,9</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,4</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,7</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,4</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,6-A</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,6</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,11</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,16</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,5-B</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,5</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,5</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,12</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,3</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,6</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,19</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,8</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,11</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,6</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,3-B</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,4-A</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,5</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,9</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,11</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,6</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,7</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,8</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,11</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,6</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,10</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,8</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,7</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,4</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,12</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,17</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad12,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,12</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,5</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,4-B</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,6-B</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,11</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad12,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,10</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,4</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,3</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,12</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,3</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,6</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,16</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,8</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/Abc.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2358455</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2358455</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>2842038</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>2842038</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
